header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background: url('ptrbackground.jpg');
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}
main {
	padding-right: 2em;
	padding-left: 2em;
	display: block;
	margin-left: 170px;
	padding-top: 1px;
}
header {
	background-image: url('sunset.jpg');
	line-height: 200%;
	background-repeat: no-repeat; 
	background-position: right;
	padding-left: 2em;
	height: 72px;
	margin-bottom: 0;
}
nav {
	font-weight: bold;
	float: left;
	/*width: 160px;*/
}
nav ul {
	font-size: 1.2em;
	list-style-type: none;

}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	color: #3399CC;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#content {
	display: flex;
	justify-content: center;
	list-style-image: url('marker.gif');
}
#wrapper {
	min-width: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#contact {
	font-size: 90%;
}
dt {
	color: #000033;
}
footer {
	/*font-family: Georgia, "Times New Roman", serif;*/
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {width: 90%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid #39C;
	border-collapse: collapse;
}

td, th {
	padding: 5px;
	border: 1px solid #39c;
}

td { text-align: center;
}

.text {text-align: left;
}

tr:nth-child(even){
	background-color: #f5fafc;
	text-align: left;
}

label { float: left;
		display: block;
		width: 8em;
	    padding-right: 1em;
}

input, textarea {
	display: block;
	margin-bottom: 1em;
}