/*
    File: pacific.css
    Patryk Piwowarczyk, patryk_piwowarczyk@student.uml.edu
    Completed on 9/27/2022
    This assignment is to mimic the web page from the pdf given the html file while
	only editing the .css file. The webpage represents a travel page with a fixed main
	area and a vertical navigation bar. The page should be responsive and change dimensions
	correctly when resized.
    Sources for code (sources for content are sited at the bottom of the Web page): 
    1. https://www.w3schools.com/  (primary use, many different subsections)
	    a. https://www.w3.org/Style/Examples/007/center.en.html
    2. https://stackoverflow.com/questions/3802455/min-width-in-window-resizing
	3. https://www.codegrepper.com/code-examples/html/remove+underline+ul+li+css
	4. https://linuxhint.com/css-wrap-text-around-image/
*/
header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
/*Code for the background (gradient) and the text*/
body {
	background: url('ptrbackground.jpg'), #00569f;
	color: #444242;
	font-family: Arial, Helvetica, sans-serif;
}
header {
	display: flex;
	text-align: justify;
	color: white;
	line-height: 0px;
	background-image: url('sunset.jpg');
	background-size: cover;
	background-position: right; 
	padding-left: 2em;
	padding: 1px;
	height: 60px;
	margin-bottom: 0;
}
nav {
	font-weight: bold;
	float: left;
	width: 180px;
	padding: 0;
	font-size: 1.2em;
	background-color: #90c7e3;
}
/* implement padding and remove bullet points */
nav ul {
	padding-left: 1em;
	list-style-type: none;
}
/* removes underlines*/
li a {
	color: #000033;
	text-decoration: none;
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
h1 {
	margin-bottom: 0;
	padding: 10px;
}
h2 {
	margin-top: 0px;
	padding-top: 10px;
	color: #3399CC;
	text-align: left;
}
h1,
h2 {
	font-family: Georgia, "Times New Roman", serif;
}
/* main content of the main area */
#content {
	display: block;
	text-align: justify;
	list-style-image: url('marker.gif');
	margin-left: 200px;
	padding-right: 1em;
	padding-left: 1em;
	list-style-position: inside;
	background-size: 100% 100%;
	background-color: white;
}
img {
	float: left;
	margin-right: 20px;
}
.resort {
	font-weight: bold;
	color: rgb(80, 134, 167);
}
/* main area overall (everything in front of the background) */
#wrapper {
	min-width: 600px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #90c7e3;
}
#contact {
	font-size: 90%;
	text-align: left;
}
dt {
	color: #000033;
	font-weight: bold;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	text-align: left;
	padding: 1em;
	margin-left: 200px;
	background-color: white;
}